/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
/* Header */

header {
  height: 50px;
  position: relative;
}

nav {
  display: inline-block;
  width: 80%;
  text-align: center;
  position: absolute;
  bottom: 0;
}

nav a {
	color: rgba(128, 128, 128, .5);
	font-weight: bold;
	text-decoration: none;
	padding: 10px 5% 10px 5%;
	margin: 10px;
	margin-bottom: 0;
}

header img {
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 20px;
}

/* intro section */

.intro {
    height: 550px;
    width: 90%;
    margin: auto;
    padding: 50px 15px;
    border-bottom: 2px solid black;
}

.title {
	display: inline-block;
	margin: 100px 200px;
}

.title h1 {
	text-align: center;
    width: 300px;
	font-size: 5em;
}

.intro button {
	margin-left: 70px;
	padding: 5px 40px;
	font-size: 15px;
	border: 1px solid black;
	background-color: white;
	cursor: pointer;
}

.intro img {
	float: right;
}
 
/* main content section */

.pre-img, .post-img {
	width: 90%;
	height: 125px;
	margin: auto;
}

.features, .about {
	display: inline-block;
	width: 40%;
	padding: 25px;
}

.about {
	float: right;
}

.middle-img {
	display: block;
	width: 90%;
	margin: auto;
}

.post-img {
	height: 200px;
	padding-bottom: 20px;
	border-bottom: 2px solid black;
}

.services, .products, .vision {
	display: inline-block;
	width: 25%;
	padding: 30px 5px;
}

.vision {
	float: right;
	clear: left;
}

.products {
	margin-left: 150px;
}

/* footer */

footer {
	width: 90%;
	height: 400px;
	margin: auto;
}

.address-wrapper {
	padding-top: 40px;
}

address {
	font-weight: bold;
}

#number, #email {
	display: inline-block;
	padding-top: 25px;
}

footer p {
	padding-top: 40px;
	text-align: center;
	font-weight: bold;
}